:root {
    --accemtblue: rgba(192, 218, 229, 1);
    --accemtgreen: rgba(193, 229, 192, 1);
    --accemtnavy: rgba(160, 220, 255, 1);
    --accemtorange: rgba(253, 217, 217, 1);
    --accemtpastelblue: rgba(217, 232, 239, 1);
    --accemtpink: rgba(255, 195, 216, 1);
    --neutral-100: rgba(248, 248, 248, 1);
    --neutral-200: rgba(229, 231, 235, 1);
    --neutral-300: rgba(209, 213, 219, 1);
    --neutral-400: rgba(156, 163, 175, 1);
    --neutral-50: rgba(249, 250, 251, 1);
    --neutral-500: rgba(107, 114, 128, 1);
    --neutral-600: rgba(75, 85, 99, 1);
    --neutral-700: rgba(55, 65, 81, 1);
    --neutral-800: rgba(31, 41, 55, 1);
    --neutral-900: rgba(17, 24, 39, 1);
    --primary-100: var(--variable-collection-primary-100);
    --primary-200: rgba(168, 205, 175, 1);
    --primary-300: var(--variable-collection-primary-300);
    --primary-400: rgba(113, 173, 124, 1);
    --primary-50: var(--variable-collection-primary-50);
    --primary-500: rgba(92, 159, 103, 1);
    --primary-600: var(--variable-collection-primary-600);
    --primary-700: rgba(74, 127, 82, 1);
    --primary-800: rgba(66, 110, 72, 1);
    --primary-900: var(--variable-collection-primary-900);
    --rich-text-100-bold-font-family: "DM Sans", Helvetica;
    --rich-text-100-bold-font-size: 16px;
    --rich-text-100-bold-font-style: normal;
    --rich-text-100-bold-font-weight: 700;
    --rich-text-100-bold-letter-spacing: 1.6px;
    --rich-text-100-bold-line-height: 18px;
    --rich-text-100-medium-font-family: "DM Sans", Helvetica;
    --rich-text-100-medium-font-size: 16px;
    --rich-text-100-medium-font-style: normal;
    --rich-text-100-medium-font-weight: 500;
    --rich-text-100-medium-letter-spacing: 1.6px;
    --rich-text-100-medium-line-height: 18px;
    --rich-text-100-regular-font-family: "DM Sans", Helvetica;
    --rich-text-100-regular-font-size: 16px;
    --rich-text-100-regular-font-style: normal;
    --rich-text-100-regular-font-weight: 400;
    --rich-text-100-regular-letter-spacing: 1.6px;
    --rich-text-100-regular-line-height: 18px;
    --rich-text-200-bold-font-family: "DM Sans", Helvetica;
    --rich-text-200-bold-font-size: 18px;
    --rich-text-200-bold-font-style: normal;
    --rich-text-200-bold-font-weight: 700;
    --rich-text-200-bold-letter-spacing: 1.8px;
    --rich-text-200-bold-line-height: 20px;
    --rich-text-200-medium-font-family: "DM Sans", Helvetica;
    --rich-text-200-medium-font-size: 18px;
    --rich-text-200-medium-font-style: normal;
    --rich-text-200-medium-font-weight: 500;
    --rich-text-200-medium-letter-spacing: 1.8px;
    --rich-text-200-medium-line-height: 20px;
    --rich-text-200-regular-font-family: "DM Sans", Helvetica;
    --rich-text-200-regular-font-size: 18px;
    --rich-text-200-regular-font-style: normal;
    --rich-text-200-regular-font-weight: 400;
    --rich-text-200-regular-letter-spacing: 1.8px;
    --rich-text-200-regular-line-height: 20px;
    --rich-text-300-bold-font-family: "DM Sans", Helvetica;
    --rich-text-300-bold-font-size: 20px;
    --rich-text-300-bold-font-style: normal;
    --rich-text-300-bold-font-weight: 700;
    --rich-text-300-bold-letter-spacing: 2px;
    --rich-text-300-bold-line-height: 22px;
    --rich-text-300-medium-font-family: "DM Sans", Helvetica;
    --rich-text-300-medium-font-size: 20px;
    --rich-text-300-medium-font-style: normal;
    --rich-text-300-medium-font-weight: 500;
    --rich-text-300-medium-letter-spacing: 2px;
    --rich-text-300-medium-line-height: 22px;
    --rich-text-300-regular-font-family: "DM Sans", Helvetica;
    --rich-text-300-regular-font-size: 20px;
    --rich-text-300-regular-font-style: normal;
    --rich-text-300-regular-font-weight: 400;
    --rich-text-300-regular-letter-spacing: 2px;
    --rich-text-300-regular-line-height: 22px;
    --rich-text-400-bold-font-family: "DM Sans", Helvetica;
    --rich-text-400-bold-font-size: 24px;
    --rich-text-400-bold-font-style: normal;
    --rich-text-400-bold-font-weight: 700;
    --rich-text-400-bold-letter-spacing: 2.4px;
    --rich-text-400-bold-line-height: 26px;
    --rich-text-400-medium-font-family: "DM Sans", Helvetica;
    --rich-text-400-medium-font-size: 24px;
    --rich-text-400-medium-font-style: normal;
    --rich-text-400-medium-font-weight: 500;
    --rich-text-400-medium-letter-spacing: 2.4px;
    --rich-text-400-medium-line-height: 26px;
    --rich-text-400-regular-font-family: "DM Sans", Helvetica;
    --rich-text-400-regular-font-size: 24px;
    --rich-text-400-regular-font-style: normal;
    --rich-text-400-regular-font-weight: 400;
    --rich-text-400-regular-letter-spacing: 2.4px;
    --rich-text-400-regular-line-height: 26px;
    --rich-text-body-default-font-family: "DM Sans", Helvetica;
    --rich-text-body-default-font-size: 18px;
    --rich-text-body-default-font-style: normal;
    --rich-text-body-default-font-weight: 400;
    --rich-text-body-default-letter-spacing: 0px;
    --rich-text-body-default-line-height: 30px;
    --rich-text-body-large-font-family: "DM Sans", Helvetica;
    --rich-text-body-large-font-size: 22px;
    --rich-text-body-large-font-style: normal;
    --rich-text-body-large-font-weight: 400;
    --rich-text-body-large-letter-spacing: 0px;
    --rich-text-body-large-line-height: 36px;
    --rich-text-body-small-font-family: "DM Sans", Helvetica;
    --rich-text-body-small-font-size: 16px;
    --rich-text-body-small-font-style: normal;
    --rich-text-body-small-font-weight: 400;
    --rich-text-body-small-letter-spacing: 0px;
    --rich-text-body-small-line-height: 28px;
    --rich-text-body-smaller-font-family: "DM Sans", Helvetica;
    --rich-text-body-smaller-font-size: 14px;
    --rich-text-body-smaller-font-style: normal;
    --rich-text-body-smaller-font-weight: 400;
    --rich-text-body-smaller-letter-spacing: 0px;
    --rich-text-body-smaller-line-height: 24px;
    --rich-text-headings-h1-font-family: "DM Sans", Helvetica;
    --rich-text-headings-h1-font-size: 56px;
    --rich-text-headings-h1-font-style: normal;
    --rich-text-headings-h1-font-weight: 700;
    --rich-text-headings-h1-letter-spacing: 2px;
    --rich-text-headings-h1-line-height: 66px;
    --rich-text-headings-h2-font-family: "DM Sans", Helvetica;
    --rich-text-headings-h2-font-size: 36px;
    --rich-text-headings-h2-font-style: normal;
    --rich-text-headings-h2-font-weight: 700;
    --rich-text-headings-h2-letter-spacing: 1px;
    --rich-text-headings-h2-line-height: 46px;
    --rich-text-headings-h3-font-family: "DM Sans", Helvetica;
    --rich-text-headings-h3-font-size: 24px;
    --rich-text-headings-h3-font-style: normal;
    --rich-text-headings-h3-font-weight: 700;
    --rich-text-headings-h3-letter-spacing: 0px;
    --rich-text-headings-h3-line-height: 34px;
    --rich-text-headings-h4-font-family: "DM Sans", Helvetica;
    --rich-text-headings-h4-font-size: 22px;
    --rich-text-headings-h4-font-style: normal;
    --rich-text-headings-h4-font-weight: 700;
    --rich-text-headings-h4-letter-spacing: 0px;
    --rich-text-headings-h4-line-height: 28px;
    --rich-text-headings-h5-font-family: "DM Sans", Helvetica;
    --rich-text-headings-h5-font-size: 18px;
    --rich-text-headings-h5-font-style: normal;
    --rich-text-headings-h5-font-weight: 700;
    --rich-text-headings-h5-letter-spacing: 0px;
    --rich-text-headings-h5-line-height: 24px;
    --rich-text-headings-h6-font-family: "DM Sans", Helvetica;
    --rich-text-headings-h6-font-size: 16px;
    --rich-text-headings-h6-font-style: normal;
    --rich-text-headings-h6-font-weight: 700;
    --rich-text-headings-h6-letter-spacing: 0px;
    --rich-text-headings-h6-line-height: 22px;
    --rich-text-special-headings-display-1-font-family: "DM Sans", Helvetica;
    --rich-text-special-headings-display-1-font-size: 90px;
    --rich-text-special-headings-display-1-font-style: normal;
    --rich-text-special-headings-display-1-font-weight: 700;
    --rich-text-special-headings-display-1-letter-spacing: 2px;
    --rich-text-special-headings-display-1-line-height: 90px;
    --rich-text-special-headings-display-2-font-family: "DM Sans", Helvetica;
    --rich-text-special-headings-display-2-font-size: 72px;
    --rich-text-special-headings-display-2-font-style: normal;
    --rich-text-special-headings-display-2-font-weight: 700;
    --rich-text-special-headings-display-2-letter-spacing: 2px;
    --rich-text-special-headings-display-2-line-height: 80px;
    --rich-text-special-headings-display-3-font-family: "DM Sans", Helvetica;
    --rich-text-special-headings-display-3-font-size: 44px;
    --rich-text-special-headings-display-3-font-style: normal;
    --rich-text-special-headings-display-3-font-weight: 700;
    --rich-text-special-headings-display-3-letter-spacing: 2px;
    --rich-text-special-headings-display-3-line-height: 50px;
    --rich-text-special-headings-display-4-font-family: "DM Sans", Helvetica;
    --rich-text-special-headings-display-4-font-size: 28px;
    --rich-text-special-headings-display-4-font-style: normal;
    --rich-text-special-headings-display-4-font-weight: 700;
    --rich-text-special-headings-display-4-letter-spacing: 1px;
    --rich-text-special-headings-display-4-line-height: 38px;
    --rich-text-text-bold-font-family: "DM Sans", Helvetica;
    --rich-text-text-bold-font-size: 18px;
    --rich-text-text-bold-font-style: normal;
    --rich-text-text-bold-font-weight: 700;
    --rich-text-text-bold-letter-spacing: 0px;
    --rich-text-text-bold-line-height: 30px;
    --rich-text-text-link-bold-font-family: "DM Sans", Helvetica;
    --rich-text-text-link-bold-font-size: 18px;
    --rich-text-text-link-bold-font-style: normal;
    --rich-text-text-link-bold-font-weight: 700;
    --rich-text-text-link-bold-letter-spacing: 0px;
    --rich-text-text-link-bold-line-height: 30px;
    --rich-text-text-link-medium-font-family: "DM Sans", Helvetica;
    --rich-text-text-link-medium-font-size: 18px;
    --rich-text-text-link-medium-font-style: normal;
    --rich-text-text-link-medium-font-weight: 500;
    --rich-text-text-link-medium-letter-spacing: 0px;
    --rich-text-text-link-medium-line-height: 30px;
    --rich-text-text-link-regular-font-family: "DM Sans", Helvetica;
    --rich-text-text-link-regular-font-size: 18px;
    --rich-text-text-link-regular-font-style: normal;
    --rich-text-text-link-regular-font-weight: 400;
    --rich-text-text-link-regular-letter-spacing: 0px;
    --rich-text-text-link-regular-line-height: 30px;
    --secondary-100: var(--variable-collection-secondary-100);
    --secondary-200: rgba(149, 190, 199, 1);
    --secondary-300: var(--variable-collection-secondary-300);
    --secondary-400: rgba(86, 141, 153, 1);
    --secondary-50: var(--variable-collection-secondary-50);
    --secondary-500: rgba(57, 121, 135, 1);
    --secondary-600: var(--variable-collection-secondary-600);
    --secondary-700: rgba(31, 87, 97, 1);
    --secondary-800: rgba(18, 67, 77, 1);
    --secondary-900: var(--variable-collection-secondary-900);
    --variable-collection-primary-100: rgba(201, 225, 206, 1);
    --variable-collection-primary-300: rgba(136, 187, 145, 1);
    --variable-collection-primary-50: rgba(233, 243, 235, 1);
    --variable-collection-primary-600: rgba(84, 145, 93, 1);
    --variable-collection-primary-900: rgba(49, 80, 53, 1);
    --variable-collection-secondary-100: rgba(183, 218, 224, 1);
    --variable-collection-secondary-300: rgba(113, 162, 173, 1);
    --variable-collection-secondary-50: rgba(215, 242, 251, 1);
    --variable-collection-secondary-600: rgba(46, 106, 118, 1);
    --variable-collection-secondary-900: rgba(0, 46, 55, 1);
}
